.main {
  border: 1px solid #ff0000;
  height: 100vh;
}
.main-tabblock {
  border: 1px solid #ff0000;
  height: 50%;
  margin-top: 100px;
}
.main-tabblock-tabs {
  height: 50px;
  border: 1px solid #ff0000;
}
.main-tabblock-tabs-one {
  border: 1px solid #ff0000;
  display: inline-block;
  height: 100%;
  width: 50px;
}
.main-tabblock-tabs-two {
  border: 1px solid #ff0000;
  display: inline-block;
  height: 100%;
  width: 50px;
}
.main-tabblock-tabs-tree {
  border: 1px solid #ff0000;
  display: inline-block;
  height: 100%;
  width: 50px;
}
.main-tabblock-contents {
  border: 1px solid #ff0000;
  height: 250px;
}
