@border-marker: 1px solid red;



.main {
	border: @border-marker;
	height: 100vh;
		&-tabblock {
			border: @border-marker;
			height: 50%;
			margin-top: 100px;
				&-tabs {
					height: 50px;
					border: @border-marker;
						&-one {
							border: @border-marker;
							display: inline-block;
							height: 100%;
							width: 50px;
						}
						&-two {
							border: @border-marker;
							display: inline-block;
							height: 100%;
							width: 50px;
						}
						&-tree {
							border: @border-marker;
							display: inline-block;
							height: 100%;
							width: 50px;
						}
				}
				&-contents {
					border: @border-marker;
					height: 250px;
				}
		}
}