@border-marker: 1px solid red;
@green-color: #1bf1ad;
@color-win: #e98457;
@background-color-footer: #fafafa;

* {
  padding: 0;
  margin: 0;
}

.rellax {
  //border: @border-marker;
  height: 50vh;
}

// <!-- HEADER START-->
.header {
  //border: @border-marker;
  height: 750px;
  background-color: black;
  background-image: url("../img/background.png");
  color: white;
    &-wrapper {
      width: 70%;
      height: 750px;
      margin: 0 auto;
      //border: @border-marker;
      &-logo {
        height: 100px;
        //width: 100%;
        //border: @border-marker;
        img {
          //border: @border-marker;
          //float: right;
          width: 15%;
          margin-top: 30px;
        }
      }
      &-caption {
        margin-top: 23%;
        //border: @border-marker;
          h1 {
            //border: @border-marker;
            text-align: center;
            font-size: 5rem;
            font-family: 'Jura', sans-serif;

          }
      }
      &-menu {
        //border: @border-marker;
        display: flex;
        justify-content: center;
        //height: 100%;
          ul {
            display: block;
            margin: 150px auto 0 auto;
            //border: @border-marker;
            li {
              display: inline-block;
              list-style-type: none;
              //border: @border-marker;
              a {
                //border: @border-marker;
                color: white;
                font-size: 1.5rem;
                margin: 0 20px;
                padding: 10px 0;
                text-decoration: none;
                  &:hover {
                    border-bottom: 3px solid @green-color;
                    font-weight: bolder;
                  }
              }
            }
          }
      }
    }
}

.header-wrapper div {
  padding: 0;
}
// <!-- HEADER STOP-->

// **************************

// <!-- DIGITAL START-->

.digital {
  //border: @border-marker;
  text-align: center;
    h4 {
      margin-top: 50px;
      font-size: 2.5rem;
     // border: @border-marker;
      font-family: 'Orbitron', sans-serif;
    }
    span {
     // border: @border-marker;
      display: inline-block;
      font-size: 2rem;
      width: 20%;
      font-family: 'Changa', sans-serif;
      //margin-bottom: 50px;
    }
}

// <!-- DIGITAL STOP-->

// *************************

// <!-- LEARN START-->

.learn {
  height: 500px;
  //border: @border-marker;
  display: flex;
    &-block1 {
      //border: @border-marker;
      height: 100%;
        &-bkgcyan {
          //border: @border-marker;
          img {
            //border: @border-marker;
            margin-top: 50px;
            height: 600px;
            width: 600px;
            opacity: 0.6;
            z-index: 3;
            position: relative;
          }
        }
        &-line {
          position: relative;
          top: -650px;
          left: 1000px;
            img {
              width: 150px;
              height: 150px;
            }
        }
        &-circle1 {
          position: relative;
          top: -770px;
          left: 1000px;
            img {
            }
        }
        &-circle2 {
          position: relative;
          top: -820px;
          left: 1550px;
          img {
          }
        }
        &-ideology {
          h4 {
            position: relative;
            top: -820px;
            left: 610px;
            font-family: 'Archivo Black', sans-serif;
          }
        }
        &-mannearboard {
          img {
            position: relative;
            top: -820px;
            z-index: 2;
            //left: 610px;
          }
        }
        &-experiment {
          position: relative;
          top: -1400px;
          left: 850px;
            h1 {
              display: inline-block;
              position: relative;
              z-index: 15;
              width: 1100px;
              //border: @border-marker;
              font-size: 6rem;
              font-family: 'Rubik Mono One', sans-serif;
                span {
                  color: @color-win;
                }
            }
          &-plus {
            position: relative;
            z-index: 1;
            top: -100px;
            //left: 850px;
            //border: @border-marker;
            background-image: url("../img/plus.png");
            background-size: 15px;
            height: 350px;
            width: 80%;
            margin-left: 30px;
          }
          h3 {
            //border: @border-marker;
            position: relative;
            z-index: 5;
            top: -350px;
            left: -450px;
            font-family: 'Exo', sans-serif;
            width: 400px;
            font-size: 5rem;
          }
          &-plus2 {
            //border: @border-marker;
            position: relative;
            top: -350px;
            left: 300px;
            height: 35px;
            width: 35px;
            background-image: url("../img/plus2.png");
            background-repeat: no-repeat;
            background-size: cover;
          }
        }

    }
}

// <!-- LEARN STOP-->

// <!--*******************-->

// <!-- CREATE START-->

.create {
  //border: @border-marker;
  margin-top: 400px;
  height: 210px;
  h1 {
    //border: @border-marker;
    margin: 0 auto;
    display: block;
    width: 70%;
    font-size: 6rem;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
  }
  &-triangle {
    position: relative;
    top: -120px;
    left: 17%;
  }
  &-line {
    position: relative;
    top: -30px;
    left: 17%;
    z-index: 1;
  }
}

// <!-- CREATE STOP-->

//*************************

//<!-- GALLERY START-->

.gallery {
  //border: @border-marker;
  height: 400px;
  margin-top: 70px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 15;
  button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: none;
    border: 2px solid black;
    font-size: 3rem;
    position: relative;
    z-index: 20;
    top: 150px;
  }
    img {
      position: relative;
      z-index: 1;
      right: -50px;
      //width: 100%;
      height: 100%;
      margin: 0 20px;
      opacity: 0.3;
        &:hover {
          //background-image: url("../img/backgroundcyan.png");
          opacity: 1;
        }
    }
    

}

//<!-- GALLERY STOP-->

// <!--***************************-->

// <!-- FOOTER START-->
.button {
  border: @border-marker;
  margin-top: 50px;
  background-color: @background-color-footer;
  .footer {
    border: @border-marker;
    height: 250px;
    display: flex;
      &-leftblock {
        border: @border-marker;
        height: 100%;
        width: 70%;
          img {
            margin-top: 50px;
          }
          ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 30px;
            li {
              border: @border-marker;
              a {
                text-decoration: none;
                color: #000;
                font-weight: bolder;
              }
            }
          }
      }
      &-rightblock {
        border: @border-marker;
        height: 100%;
        width: 50%;
      }
  }
}

// <!-- FOOTER STOP-->

