body {
	font-family: sans-serif;
	// height: 500px;
}

section {
	text-align: center;
	color: #fff;
	height: 100vh;
	padding-top: 20%;
}

h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3rem;
}