* {
  padding: 0;
  margin: 0;
}
.rellax {
  height: 50vh;
}
.header {
  height: 750px;
  background-color: black;
  background-image: url("../img/background.png");
  color: white;
}
.header-wrapper {
  width: 70%;
  height: 750px;
  margin: 0 auto;
}
.header-wrapper-logo {
  height: 100px;
}
.header-wrapper-logo img {
  width: 15%;
  margin-top: 30px;
}
.header-wrapper-caption {
  margin-top: 23%;
}
.header-wrapper-caption h1 {
  text-align: center;
  font-size: 5rem;
  font-family: 'Jura', sans-serif;
}
.header-wrapper-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-wrapper-menu ul {
  display: block;
  margin: 150px auto 0 auto;
}
.header-wrapper-menu ul li {
  display: inline-block;
  list-style-type: none;
}
.header-wrapper-menu ul li a {
  color: white;
  font-size: 1.5rem;
  margin: 0 20px;
  padding: 10px 0;
  text-decoration: none;
}
.header-wrapper-menu ul li a:hover {
  border-bottom: 3px solid #1bf1ad;
  font-weight: bolder;
}
.header-wrapper div {
  padding: 0;
}
.digital {
  text-align: center;
}
.digital h4 {
  margin-top: 50px;
  font-size: 2.5rem;
  font-family: 'Orbitron', sans-serif;
}
.digital span {
  display: inline-block;
  font-size: 2rem;
  width: 20%;
  font-family: 'Changa', sans-serif;
}
.learn {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.learn-block1 {
  height: 100%;
}
.learn-block1-bkgcyan img {
  margin-top: 50px;
  height: 600px;
  width: 600px;
  opacity: 0.6;
  z-index: 3;
  position: relative;
}
.learn-block1-line {
  position: relative;
  top: -650px;
  left: 1000px;
}
.learn-block1-line img {
  width: 150px;
  height: 150px;
}
.learn-block1-circle1 {
  position: relative;
  top: -770px;
  left: 1000px;
}
.learn-block1-circle2 {
  position: relative;
  top: -820px;
  left: 1550px;
}
.learn-block1-ideology h4 {
  position: relative;
  top: -820px;
  left: 610px;
  font-family: 'Archivo Black', sans-serif;
}
.learn-block1-mannearboard img {
  position: relative;
  top: -820px;
  z-index: 2;
}
.learn-block1-experiment {
  position: relative;
  top: -1400px;
  left: 850px;
}
.learn-block1-experiment h1 {
  display: inline-block;
  position: relative;
  z-index: 15;
  width: 1100px;
  font-size: 6rem;
  font-family: 'Rubik Mono One', sans-serif;
}
.learn-block1-experiment h1 span {
  color: #e98457;
}
.learn-block1-experiment-plus {
  position: relative;
  z-index: 1;
  top: -100px;
  background-image: url("../img/plus.png");
  background-size: 15px;
  height: 350px;
  width: 80%;
  margin-left: 30px;
}
.learn-block1-experiment h3 {
  position: relative;
  z-index: 5;
  top: -350px;
  left: -450px;
  font-family: 'Exo', sans-serif;
  width: 400px;
  font-size: 5rem;
}
.learn-block1-experiment-plus2 {
  position: relative;
  top: -350px;
  left: 300px;
  height: 35px;
  width: 35px;
  background-image: url("../img/plus2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.create {
  margin-top: 400px;
  height: 210px;
}
.create h1 {
  margin: 0 auto;
  display: block;
  width: 70%;
  font-size: 6rem;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
}
.create-triangle {
  position: relative;
  top: -120px;
  left: 17%;
}
.create-line {
  position: relative;
  top: -30px;
  left: 17%;
  z-index: 1;
}
.gallery {
  height: 400px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 15;
}
.gallery button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: none;
  border: 2px solid black;
  font-size: 3rem;
  position: relative;
  z-index: 20;
  top: 150px;
}
.gallery img {
  position: relative;
  z-index: 1;
  right: -50px;
  height: 100%;
  margin: 0 20px;
  opacity: 0.5;
}
.gallery img:hover {
  opacity: 1;
}
.button {
  margin-top: 50px;
  background-color: #fafafa;
}
.button .footer {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.button .footer-leftblock {
  height: 100%;
  width: 70%;
}
.button .footer-leftblock img {
  margin-top: 50px;
}
.button .footer-leftblock ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.button .footer-leftblock ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
}
.button .footer-rightblock {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button .footer-rightblock-center {
  width: 50%;
  height: 50%;
}
.button .footer-rightblock-center-tel {
  margin-top: 20px;
}
.button .footer-rightblock-center-tel span {
  font-weight: bolder;
}
.button .footer-rightblock-center-mail {
  margin-top: 10px;
}
.button .footer-rightblock-center-mail span {
  font-weight: bolder;
}
