* {
  padding: 0;
  margin: 0;
}
.rellax {
  height: 50vh;
}
.header {
  height: 750px;
  background-color: black;
  background-image: url("../img/background.png");
  color: white;
}
.header-wrapper {
  width: 70%;
  height: 750px;
  margin: 0 auto;
}
.header-wrapper-logo {
  height: 100px;
}
.header-wrapper-logo img {
  width: 15%;
  margin-top: 30px;
}
.header-wrapper-caption {
  margin-top: 23%;
}
.header-wrapper-caption h1 {
  text-align: center;
  font-size: 5rem;
  font-family: 'Jura', sans-serif;
}
.header-wrapper-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-wrapper-menu ul {
  display: block;
  margin: 150px auto 0 auto;
}
.header-wrapper-menu ul li {
  display: inline-block;
  list-style-type: none;
}
.header-wrapper-menu ul li a {
  color: white;
  font-size: 1.5rem;
  margin: 0 20px;
  padding: 10px 0;
  text-decoration: none;
}
.header-wrapper-menu ul li a:hover {
  border-bottom: 3px solid #1bf1ad;
  font-weight: bolder;
}
.header-wrapper div {
  padding: 0;
}
.digital {
  text-align: center;
}
.digital h4 {
  margin-top: 50px;
  font-size: 2.5rem;
  font-family: 'Orbitron', sans-serif;
}
.digital span {
  display: inline-block;
  font-size: 2rem;
  width: 20%;
  font-family: 'Changa', sans-serif;
}
.learn {
  height: 500px;
  border: 1px solid #ff0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.learn-block1 {
  border: 1px solid #ff0000;
  height: 100%;
}
.learn-block1-bkgcyan img {
  margin-top: 50px;
  height: 600px;
  width: 600px;
  opacity: 0.6;
  z-index: 3;
  position: relative;
}
.learn-block1-line {
  position: relative;
  top: -650px;
  left: 1000px;
}
.learn-block1-line img {
  width: 150px;
  height: 150px;
}
.learn-block1-circle1 {
  position: relative;
  top: -770px;
  left: 1000px;
}
.learn-block1-circle2 {
  position: relative;
  top: -820px;
  left: 1550px;
}
.learn-block1-ideology h4 {
  position: relative;
  top: -820px;
  left: 610px;
  font-family: 'Archivo Black', sans-serif;
}
.learn-block1-mannearboard img {
  position: relative;
  top: -820px;
  z-index: 2;
}
.learn-block1-experiment {
  position: relative;
  top: -1400px;
  left: 850px;
}
.learn-block1-experiment h1 {
  display: inline-block;
  width: 1100px;
  border: 1px solid #ff0000;
  font-size: 6rem;
  font-family: 'Rubik Mono One', sans-serif;
}
.learn-block1-experiment h1 span {
  color: #e98457;
}
