* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.blue {
  background-color: #57b5f5;
  background-image: url("../img/cloud.png");
  background-size: 90%;
  background-position-x: 150px;
}
.wrapper {
  width: 80%;
  border: 1px solid #ff0000;
  margin: 0 auto;
}
.header {
  border: 1px solid #ff0000;
  height: 100px;
}
.header-logo {
  border: 1px solid #ff0000;
  height: 100%;
}
.header-logo a {
  vertical-align: baseline;
}
.header-logo a img {
  margin-top: 10%;
  width: 100%;
  border: 1px solid #ff0000;
}
.header-menu {
  border: 1px solid #ff0000;
  height: 100%;
}
.header-menu ul {
  border: 1px solid #ff0000;
  width: 100%;
  height: 100%;
}
.header-menu ul li {
  display: inline-block;
  float: right;
  border: 1px solid #ff0000;
  list-style-type: none;
  margin: 0 10px;
  height: 100%;
}
.header-menu ul li a {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  height: 100%;
  padding: 30px 0;
  vertical-align: middle;
}
.header .header-menu {
  padding: 0;
}
.main {
  border: 1px solid #ff0000;
  color: white;
}
.main-describe {
  height: 100%;
  border: 1px solid #ff0000;
}
.main-describe h1 {
  margin-top: 25%;
  font-weight: bolder;
  font-size: 5rem;
  border: 1px solid #ff0000;
  width: 70%;
}
.main-describe h4 {
  border: 1px solid #ff0000;
  font-size: 2.5rem;
  font-style: italic;
}
.main-describe span {
  display: inline-block;
  margin-top: 50px;
}
.main-describe-freetext {
  height: 10px;
  display: inline-block;
}
.main-describe-freetext span {
  background-color: #ffce54;
  padding: 3px 10px;
  border-radius: 5px;
}
.main-describe-input {
  color: #bec2c8;
  border: 1px solid #ff0000;
}
.main-describe-input input {
  margin-top: 30px;
  height: 50px;
  width: 60%;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
}
.main-phone {
  border: 1px solid #ff0000;
  height: 100%;
}
.main-phone img {
  margin-top: 100px;
}
